<!DOCTYPE html>
<html>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    </head>
    <body>

        <div class="bg-dark text-light p-3 lead row mb-3">
            <ul class="nav col">
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase" href="{% url 'main:task_lists' %}">Home</a>
                </li>
            </ul>
            <ul class="nav justify-content-end col">
                <li class="nav-item">
                    <a class="nav-link">{{ user.get_username|upper }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'main:logout' %}"><i data-feather="log-out"></i></a>
                </li>
            </ul>
        </div>

        <p class="lead text-uppercase text-center">ORGANIZATION: <span class="text-info font-weight-bold">{{request.session.org_name}}</span></p>
        <p class="text-center text-warning">If you want see and edit todo list other organizations you should logout and login again.</p>

        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
        <script src="https://unpkg.com/feather-icons"></script>
        <script>
            feather.replace()
        </script>
    </body>
</html>