{% extends 'main/base_layout.html' %}

{% block content %}
<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:task_lists' %}">Task Lists</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:tasks' task_list_id=task_list_id %}">Tasks</a></li>
        </ol>
    </nav>

    <form method="POST" novalidate>
        {% csrf_token %}
        <p class="lead mb-3">Delete task</p>
        <p>Title: {{ task.name }}</p>
        <p>Date and time of creating: {{ task.description }}</p>
        <input type="submit" class="btn btn-success" value="Delete">
    </form>
</div>
{% endblock %}